__pycache__


/git_script/
/dataset/
/preprocess_dataset/
/balanced_dataset/

/video_segmentation_output/
/video_segmentation_output_balanced/



/train_result/
/statistics_results/
/video_generation_output/
/export_csv/
/preprocessed_data/

/SLURM_execution/